<h3>Create a new sushi roll!</h3>

<form action="/sushis" method="post">
  <input type="text" name="name" value="" placeholder="enter name of roll"><br>
  <input type="text" name="description" value="" placeholder="enter description"><br>
  <input type="text" name="price" value="" placeholder="enter price"><br>
  <input type="submit" name="" value="Create Roll">
</form>
