<h4><%= @sushi.name %></h4>
<p>Description: <%= @sushi.description %></p>
<p>Price: $<%= @sushi.price %></p>



<h5>Danger zone</h5>
<form class="" action="/sushis/<%= @sushi.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="DELETE this sushi">
</form>
